<div id="entities">
	<h3>Tags</h3>
	<div id="content_tags">
		<% _.each(tags.models, function(tag) { %>
		<span class="label" data-id="<%= tag.get('id') %>" data-type="tags"><%= tag.get('name') %></span> 
		<% }); %>
	</div>

	<h3>People</h3>
	<div id="content_people">
		<% _.each(people.models, function(person) { %>
		<span class="label" data-id="<%= person.get('id') %>" data-type="people"><%= person.get('name') %></span> 
		<% }); %>
	</div>

	<h3>Organizations</h3>
	<div id="content_organizations">
		<% _.each(organizations.models, function(organization) { %>
		<span class="label" data-id="<%= organization.get('id') %>" data-type="organizations"><%= organization.get('name') %></span> 
		<% }); %>
	</div>

	<h3>Locations</h3>
	<div id="content_locations">
		<% _.each(locations.models, function(location) { %>
		<span class="label" data-id="<%= location.get('id') %>" data-type="locations"><%= location.get('name') %></span> 
		<% }); %>
	</div>
</div>
<div id="europeana_content"></div>
<div id="feed_content">
	<h3>Source</h3>
	<p><%= content %></p>
</div>